@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Quicksand:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: rgb(97, 114, 131);
    --rock-color: #272e30;
    --paper-color: #dbca8b;
    --scissors-color: rgb(189, 189, 189);
    --highlight-color: #7098b8;
    --neon-blue: #7fc7ff;
    --neon-border-blue: 0 0 .2rem #aaa, 0 0 .2rem #aaa, 0 0 2rem var(--neon-blue), 0 0 0.8rem var(--neon-blue), 0 0 2.8rem var(--neon-blue), inset 0 0 1.3rem var(--neon-blue)
}

html {
    font-size: 62.5%
}


/* SIZES AND PLACEMENT */

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    position: relative;
    margin: auto;
    width: 100%;
    background-color: var(--main-bg-color);
}

header>h1 {
    font-family: 'Mochiy Pop P One', sans-serif;
    word-spacing: 2rem;
    margin: 2rem 0;
}

header {
    margin-bottom: 2rem;
}

#how-many-rounds {
    display: grid;
    height: 75px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 5rem;
    justify-content: center;
    align-items: center;
}

#number-of-rounds {
    grid-column-start: span 2;
}

#rounds {
    border: 3px solid var(--highlight-color);
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
    width: 120px;
    padding: 0.6rem;
    justify-self: end;
}

#submit-rounds {
    border: 3px solid var(--highlight-color);
    border-radius: 5px;
    justify-self: start;
}

#integer-check {
    grid-column-start: span 2;
}

.player-choice {
    margin-bottom: 2rem;
    margin-right: 3rem;
}

#score {
    width: max-content;
    margin: auto;
    padding: 2rem;
}


/* TEXT */

.rock {
    color: var(--rock-color)
}

.paper {
    color: var(--paper-color)
}

.scissors {
    color: var(--scissors-color)
}

.score {
    font-weight: 700;
}


/* IMAGES */

button,
img {
    vertical-align: middle;
    border: 2px solid var(--highlight-color);
    border-radius: 1rem;
}


/* BUTTONS AND INPUT FORMS */

.player-choice {
    transition: all .5s ease;
}

.player-choice:hover {
    transform: scale(1.1);
    box-shadow: var(--neon-border-blue)
}

.player-choice:disabled {
    filter: grayscale(1);
    transform: none;
    box-shadow: none;
}

button {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    transition: all .3s ease;
}

button:active {
    transform: translateY(4px);
}

button:hover {
    color: whitesmoke;
    background-color: var(--main-bg-color);
}

#submit-rounds,
#try-again {
    padding: 0.5rem 2rem;
    font-size: 2rem;
}

#close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* POPUP */

#results {
    display: none;
    z-index: 1;
    width: 30%;
    margin: auto;
    overflow: auto;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.winner,
.try-again {
    background-color: var(--main-bg-color);
}

.winner {
    padding-top: 2rem;
}

.try-again {
    padding-bottom: 2rem;
}

.prompt {
    margin-bottom: 1rem;
}

#shadow {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}